[Desktop Entry]
Type=Application
Name=Hushboard
Comment=Mute your microphone while typing
Comment[en_US]=Mute your microphone while typing
GenericName=Hushboard
GenericName[en_US]=Hushboard
Icon=${SNAP}/hushboard/icons/hushboard.svg
Exec=hushboard
Terminal=false
Keywords=audio;mute;microphone;conference;call;
Categories=GTK;Utility;
Name=Hushboard
Comment=Disattiva il microfono durante la digitazione
Comment[it_IT]=Disattiva il microfono durante la digitazione
GenericName=Hushboard
GenericName[it_IT]=Hushboard
Icon=${SNAP}/hushboard/icons/hushboard.svg
Exec=hushboard
Terminal=false
Keywords=audio;muto;microfono;conferenza;chiamata;
Categories=GTK;Utility;
